<div class="single-thing">
	<div class="date">
		<% if thing.the_date.present? %>
			<%= thing.the_date.to_s(:variable) %>
		<% end %>
	</div>
	
	<div class="desc">
		<%= link_to thing.description, thing %>
	</div>
	
	<div class="actions">
		<%= link_to 'Edit', edit_thing_path(thing) %>
		<%= link_to 'Delete', thing, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>