<div class="single-thing">
	<div class="date">
		<span class="full-date"><%= relative_date(thing) %></span>
	</div>
	
	<div class="desc">
		<%= best_in_place thing, :description %>
	</div>
	
	<div class="actions">
		<%= link_to "<i class=\"icon-pencil\"></i>".html_safe, edit_thing_path(thing) %>
		<%= link_to "<i class=\"icon-remove\"></i>".html_safe, thing, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>