<div class="page-content index" style="margin-top: 0;">
	<%= render 'form_inline' %>
	<div class="things ghost" id="sortable">
		<% if @things.blank? %>
		<h1><a class="add" data-toggle="collapse" data-target="#add-new" style="cursor: pointer;">+ Add Something</a></h1>
		<% end %>
		
		<%= render 'thing' %>

	</div>
</div>
