<div class="page-content index" style="margin-top: 0;">
	<%= render 'form_inline' %>
	<div class="things ghost" id="sortable">
		<% if @things.blank? %>
		<h1><%= link_to "+ Add Something", new_thing_path, class: "add" %></h1>
		<% end %>
		
		<%= render 'thing' %>

	</div>
</div>
