<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @thing.description %>
			</p>
			<p>
			  <%= @thing.user.name %>
			</p>
				<% if current_user == @thing.user %>
					<%= link_to 'Edit', edit_thing_path(@thing) %> |
				<% end %>
				<%= link_to 'Back', things_path %>
		</div>
	</div>
</div>
