<div class="page-content show">
	<span class="full-date"><%= @thing.the_date.strftime("%A %b %d") %></span>
	<h1>
	  <%= @thing.description %>
	</h1>
	<div class="actions">
		<% if current_user == @thing.user %>
			<%= link_to "<i class=\"icon-pencil\"></i>".html_safe, edit_thing_path(@thing) %>
			<%= link_to "<i class=\"icon-remove\"></i>".html_safe, @thing, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</div>
</div>
