<h1 class="page">Sofa</h1>

<div class="page-content">
	
	<p>Use Sofa to keep track of deadlines. Add a project or task and set the date when you should finish it. Sofa will then display what you need to work on as a simple list. You can also use it as a daily to-do list. Either way, each day, the previous day’s list will disappear.</p>
	<p>Sofa’s functionality is basic by design—it’s meant to be used however it works for you. It started as an excuse to learn Rails, but was also meant to solve a real personal problem—that of organizing one's own time, especially for those without typical jobs.</p>
	
	<p>If you have an idea for how it could be better, please email me at <a href="mailto:cindango@gmail.com">cindango@gmail.com</a>!</p>
	<p>Seriously!</p>
	
	<p>—</p>
	<p>
	</p>
</div>