<h1 class="page">SOFA</h1>

<div class="page-content">
	<p>
		Sofa is a different take on the calendar.
	</p>
	<p>
		A product of <a href="http://cindyho.co" target="_blank">Cindy Ho & Co</a>.
	</p>
</div>