<h1 class="page">Sofa</h1>

<div class="page-content">
	<p>
		Sofa is a different take on the calendar.
	</p>
	<p>
		By <a href="http://cindyho.co" target="_blank">Cindy Ho</a> & Garett Carey.
	</p>
	<p>
		Follow us on <a href="http://twitter.com/heysofa" target="_blank">Twitter</a>.
	</p>
</div>