<% if user_signed_in? %>
	<h1>You're logged in</h1>
<% else %>

<div class="hero-unit">
	  <h1>Organize yourself.</h1>
		<p style="margin-top: 50px;">
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
</div>

<% end %>