<div class="row">
  <div class="col-md-4"><h2>Navigation Bar</h2></div>
  <div class="col-md-8">
	  <h1>Sofa</h1>
	  	<p>Your life as a list. It's great. Longer sentence. Test test test.</p>
		<p>
			<%= link_to "Sign Up", "#" %>
		</p>
  </div>
</div>

