<% if user_signed_in? %>
	<h1>You're logged in</h1>
<% else %>

<div class="hero-unit">
		<center><img src="assets/logo.png" style="margin-bottom:10px;" /></center>
	  <h1>Organize yourself.</h1>
		<p style="margin-top: 50px;">
			<%= link_to "Sign Up", new_user_registration_path, class: "button" %>
		</p>
</div>

<% end %>