<% if user_signed_in? %>
	<h1>You're logged in</h1>
<% else %>

<div class="hero-unit">
	  <h1>Sofa</h1>
	  	<p>Your life as a list. It's great. Longer sentence. Test test test.</p>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
</div>

<% end %>