@import 'bootstrap';
@font-face { font-family: 'Aux Bold'; src: url('http://cindyho.co/sofa/fonts/aaux_pro_bd.ttf'); } 
@font-face { font-family: 'Aux Black'; src: url('http://cindyho.co/sofa/fonts/aaux_pro_blk.ttf'); } 

body {
	font-family: 'Aux Bold';
	letter-spacing: 1px;
	padding-top: 100px;
	color: #424140;
}
a {
	color: #31a348;
	&:hover {
		text-decoration: none;
		color: #298e3d;
	}
}
h1.today, h1.page {
	text-align: center;
	font-size: 56px;
}

h1, p {
	text-align: center;
}
.container {
	animation: fadein .5s;
    -moz-animation: fadein .5s; /* Firefox */
    -webkit-animation: fadein .5s; /* Safari and Chrome */
    -o-animation: fadein .5s; /* Opera */
	.page-content {
		max-width: 700px;
		text-align: center;
		margin: 100px auto 0;
		p {
			margin-bottom: 30px;
			word-spacing: 6px;
			font-size: 36px;
			line-height: 50px;
		}

	}
}
h6.today {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
}

.index .desc {
	cursor: pointer;
}



.things {
	text-align: center;
	margin: 0 auto;
	#day {
		margin-bottom: 80px;
		.date {
			font-size: 20px;
			margin-bottom: 20px;
			margin-top: 30px;
		}
		.single-thing {
			position: relative;
			margin: 10px 0;
			.desc {
				font-size: 40px;
				line-height: 54px;
				margin: 0 auto;
				&:hover {
					color: #000;
				}
				&.done {
					text-decoration: line-through;
					color: #ddd;
	
				}
			}
			&:last-child {
			}
			.actions {
				visibility: hidden;
			}
			&:hover {
				.actions {
					visibility: visible;
				}
			}
		}
	}
}

.actions {
	a {
		opacity: .2;
		padding: 5px;
		&:hover {
			opacity: 1;
		}
	}
}

.page-content.show {
	h1 {
		font-size: 48px;
	}
}



.alert {
	text-align: center;
	max-width: 400px;
	margin: -30px auto 60px;
}

.navbar {
	margin-top: 30px;
	.nav > li > a, .brand {
		color: #424140;
		&:hover {
			color: #31a348;
		}
	}
	.add {
		cursor: pointer;
	}
}

#add-new, #edit {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	.picker, .picker__holder {
		max-width: 650px;
		font-size: 24px;
		.picker__month {
			font-size: 30px;
		}
		.picker__day {
			&:hover {
				background-color: #f5f5f5;
			}
		}
		.picker__day--disabled, .picker__day--disabled:hover {
			background-color: #fff;
			border: 0;
		}
	}
	.picker__holder {
		box-shadow: none;
		-webkit-box-shadow: none;
		border: 1px solid #ddd;
	}
}

form.thing {
	min-height: 600px;
}

.edit-thing {
	textarea {
		height: auto !important;
	}
}

#add-new, .add-new, .edit-thing, .session, .things {
	h1 {
		font-size: 48px;
	}
	textarea, input, .form_in_place input {
		font-size: 40px;
		line-height: 50px;
		height: auto;
		padding: 0;
		width: 100%;
		font-family: 'Aux Bold';
		border: 0;
		box-shadow: none;
		border-radius: 0;
		resize: none;
		text-align: center;
		color: #424140 !important;
		background-color: #fff !important;
		&::-webkit-input-placeholder {
			color: #e5e5e5;
		}
		&.email {
			&:focus {
				box-shadow: none;
				outline: none;
			}
		}
		&:focus {
			box-shadow: none;
		}
		&:hover {
			&::-webkit-input-placeholder {
				color: #bbb;
			}
		}
	}
	input[readonly] {
		cursor: pointer;
	}
	.form_in_place input {
			&:focus {
			color: #424140;
			letter-spacing: 1px;
		}
	}
	.hasDatepicker {
	}
	label {
		display: none;
	}
	.submit {
		margin-top: 70px;
		.btn {
			font-weight: bold;
			font-size: 48px;
			text-transform: uppercase;
			padding-bottom: 25px;
			background-color: #fff;
			background-image: none !important;
			margin-bottom: 50px;
			width: auto;
			&:hover {
				color: #31a348 !important;
			}
			&:focus {
				box-shadow: none;
				outline: none;
			}
			&:active {
				padding-top: 5px;
				padding-bottom: 20px;
			}
		}
		&.create {
			.btn {
				font-size: 120px;
			}
		}
	}
	
}

#ui-datepicker-div {
	width: 650px;
	padding: 0;
	font-family: 'Aux Bold';
	font-size: 30px;
	z-index: 9999 !important;
	.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
		font-size: 18px;
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		border-color: #fff;
	}
	.ui-widget-header, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		background: none;
	}
	.ui-widget-header {
		border: 0;
	}
	.ui-datepicker-calendar {
		margin: 0;
	}
	td span, td a {
		padding: 10px;
	}
	
}

.hero-unit {
	background-color: #fff;
	padding: 60px 0;
}

.footer {
	margin: 100px 0;
	color: #ddd;
	text-align: center;
	.sofa {
		font-size: 24px;
	}
	a {
		color: #aaa;
		&:hover {
			color: #31a348;
		}
	}
	sup {
		font-size: small;
	}
}




.control-group.error input, .control-group.error select, .control-group.error textarea {
	box-shadow: none;
	&:focus {
		border: 0 !important;
		box-shadow: none !important;
		outline: none !important;
	}
}


.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
	margin-bottom: 30px;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


@import 'bootstrap-responsive';
