<div class="footer">
	<% if user_signed_in? %>
		<div class="sofa">You're using <%= link_to 'Sofa', about_path %> <sup>beta</sup></div>
		<% else %>
		<div class="sofa">What is <%= link_to 'Sofa', about_path %>?</div>
	<% end %>
	
	<% if user_signed_in? %>
		<br><br>
		 <%= link_to "Account", edit_user_registration_path %>
		 &middot;
		 <%= link_to "Logout", destroy_user_session_path, method: :delete %>
	 <% end %>
	 <br><br>
	 	<span style="font-size: 14px; color: #d5d5d5;">Made with <i class="icon-glass" style="opacity: .3;"></i> in Bushwick</span>
</div>