<div class="navbar navbar-fixed-top">
    <div class="">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <% if user_signed_in? %>
	            <%= link_to DateTime.now.to_date.strftime("Today is %A %b %d"),  root_path, class: 'brand' %>
	            <% else %>
	            <%= link_to "Sofa", root_path, class: 'brand' %>
	          <% end %>

                <div class="nav-collapse">
                    <ul class="nav pull-right">
                            <% if user_signed_in? %>
                              <% if current_page?(root_path) %>
							  <li><a data-toggle="collapse" data-target="#add-new" class="add" href="#"><i class="icon-plus"></i> Add</a></li>
                               <% else if current_page?(things_url) %>
                                <li><a data-toggle="collapse" data-target="#add-new" class="add" href="#"><i class="icon-plus"></i> Add</a></li>
                                <% else %>
                                <li><%= link_to "<i class=\"icon-plus\"></i> Add".html_safe, new_thing_path, class: "add" %></li>
                               <% end %>
                        <% end %>
                        <% else %>
                                <li><%= link_to "Sign In", new_user_session_path %></li>
                      <% end %>
                    </ul>
                </div>
        </div>
    </div>
</div>
