<div class="navbar navbar-fixed-top">
    <div class="">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <% if user_signed_in? %>
	            <%= link_to DateTime.now.to_date.strftime("%A"),  things_path, class: 'brand' %>
	          <% end %>

                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <% if user_signed_in? %>
	                        <li><%= link_to "<i class=\"icon-plus\"></i> Add Something".html_safe, new_thing_path, class: "add" %></li>
												<% else %>
													<li><%= link_to "Login", new_user_session_path %></li>
                      <% end %>
                    </ul>
                </div>
        </div>
    </div>
</div>